/* https://coolors.co/0d1b2a-1b263b-415a77-778da9-e0e1dd*/

*{
    font-family: 'Noto Sans JP', sans-serif;
}

body {
    background-color:#0D1B2A;
    color: #E0E1DD;
}

h1 {
    text-align:center;
}

p {
    text-align:left;
}

#playfield {
    text-align:center;
    max-width:800px;
}

#heading {
    display:flex;
    justify-content: space-between;
    width:80%;
    max-width:963px;
    margin-left:auto;
    margin-right:auto;
    margin-top:1em;
    margin-bottom:1em;
}

#heading div {
    background-color:#1B263B;
    color:#E0E1DD;
    border: 2px solid #E0E1DD;
    padding:0.5em;
    border-radius:0.5em;
    font-size:80%;
}

#timer {
    font-size:150%;
    font-weight:700;
    color:#778DA9;
}

#options{
    display:flex;
    flex-direction: column;
    max-width:400px;
    margin-left:auto;
    margin-right:auto;
}

#playfield {
    border-radius:1em;
    margin-left:auto;
    margin-right:auto;
    border: 2px solid #E0E1DD;
    background-color: #1B263B;
    flex-direction:column;
    align-items: center;
    justify-content:center;
    padding:5%;
    width: 70%;
}

#question {
    color:#ffffff;
    text-align:center;
    padding:10px;
}

.btn {
    padding:0.5em;
    border-radius:0.5em;
    background-color: #E0E1DD;
}

.btn:hover {
    background-color:#415A77;
    color:#E0E1DD;
}

#final-score{
    display:none;
}

#high-score{
    display:flex;
    flex-direction:column;
    justify-content:center;
    max-width:400px;
    margin-left:auto;
    margin-right:auto;
}

li {
    padding:0.25em;
    text-align:left;
}

#btn-container{
    text-align: center;
}

#restart{
    width:50%;
}

.visible{
    display:block;
}

.hidden{
    display:none;
}

.correct{
    background-color: #39C16C;
    margin-top:1em;
}

.wrong{
    background-color:#cc0000;
    margin-top:1em;
}