/* https://coolors.co/000000-14213d-fca311-e5e5e5-ffffff */

*{
    font-family: 'Noto Sans JP', sans-serif;
}

body {
    background-color:#000000;
    color: white;
}

h1 {
    text-align:center;
}

p {
    text-align:left;
}

#heading {
    display:flex;
    justify-content: space-between;
    width:80%;
    margin-left:auto;
    margin-right:auto;
    margin-top:1em;
    margin-bottom:1em;
}

#heading div {
    background-color:#14213d;
    color:#ffffff;
    border: 2px solid white;
    padding:0.5em;
    border-radius:0.5em;
    font-size:80%;
}

#timer {
    font-size:150%;
    font-weight:700;
    color:#fca311;
}

#options{
    display:flex;
    flex-direction: column;
}

#playfield {
    border-radius:1em;
    margin-left:auto;
    margin-right:auto;
    border: 2px solid #ffffff;
    background-color: #14213d;
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content:center;
    padding:5%;
    width: 70%;
}

#question {
    color:#ffffff;
    text-align:center;
    padding:10px;
}

.btn {
    padding:0.5em;
    border-radius:0.5em;
    background-color: #E5E5E5;
}

.btn:hover {
    background-color:#fca311;
    color:#14213d;
}

#final-score{
    display:none;
}

#high-score{
    display:flex;
    flex-direction:column;
    justify-content:center;
}

li {
    padding:0.25em;
}

#btn-container{
    text-align: center;
}

#restart{
    width:50%;
}

.visible{
    display:block;
}

.hidden{
    display:none;
}

.correct{
    background-color: #39C16C;
    margin-top:1em;
}

.wrong{
    background-color:#cc0000
}